@import "./scss/variables";
@import "./scss/card";
@import "./scss/homepage";
@import "./scss/single-course-page";
@import "./scss/submenu";
@import "./scss/outlined-card";
@import "./scss/cart";

* {
  padding: 0;
  margin: 0;
}
html,
body,
#root {
  min-height: 100% !important;
  height: 100%;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
a {
  text-decoration: none;
  color: $black;
}
button {
  min-height: 0 !important;
  min-width: 0 !important;
}
